
@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 400;
	src: local('Cinzel-Regular'), url('../font/Cinzel-Regular.ttf') format('woff');
}

@font-face { 
	font-family: 'Cinzel'; 
	font-style: normal; 
	font-weight: 700; 
	src: local('Cinzel-Bold'), url('../font/Cinzel-Bold.ttf') format('woff'); 
} 

body, html {
	height: 100%;
	margin: 0;
}


body
{
	font-family: 'Cinzel';
	font-size: 1.5em;
	
	background: url(../img/paper-bg.jpg) no-repeat center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment:fixed;

}


h1{ font-family: 'Cinzel'; font-weight: bold; }
h2{ font-family: 'Cinzel'; }
h3{ font-family: 'Cinzel'; }
h4{ font-family: 'Cinzel'; }
h5{ font-family: 'Cinzel'; }

.title
{
	text-align: center;
}

a, a:hover, a:focus
{
	color: #225B5A;
	text-decoration: none;
}

.creditTitle
{
	font-weight: bold;
	margin-bottom: 0px;
}

.credit
{
	margin-top: 0px;
}

#mainMenu
{
	text-align: center
}

.mainMenuButton
{
	font-weight: bold;
	font-size: 1.8em;
}

.table
{
	display: inline-block;
	margin-bottom: 5px;
}

.card
{
	position: relative;
	float: left;
	
	border: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 3px;
	
	background-color: lightgrey;
	
	padding: 5px;
	margin: 5px;
}

.contractCard
{
	position: relative;
	float: left;
	
	/*width: 150px;
	height: 240px;*/
	border: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 3px;
	
	background-color: lightyellow;
	
	/*margin: 3px;*/
	padding: 5px;
	
	
	font-size: xx-large;
}

.card .name
{
	font-weight: bold;
}

.card .pic
{
	/*height: 50%;*/
	background-color: white;
	width: 90%;
	margin-left: 5%;
	
	text-align: center;
	color: red;
	font-size: x-large;
}

.stat
{
	margin-left: 5px;
}


.playerArea
{
	position: relative;
	float: left;
	
	/*width: 100%;
	/*margin: 3px;*/
}

.player
{
	/*width: 150px;
	height: 50px;*/
	
	border: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 3px;
	
	background-color: lightgrey;
	
	padding: 5px;
}

.player.passed
{
	background-color: white;
}

.player .name
{
	font-weight: bold;
}


#gameLog
{
	
}

#playerAction
{
	height: 30px;
}


.combatType
{
	font-size: large;
	
}

.row
{
	margin-left: 0px;
}


/*
.col-xs-4 {
	width: 30%;
	margin: 1%
}
*/
/*
.col-md-2 {
	width: 16%;
	margin: 1%
}
*/

.col-md-2TEST {
	width: 16%;
	margin: 1%
}

.card .status
{
	height: 20px;
}


