<widget xmlns			= "http://www.w3.org/ns/widgets"
		xmlns:gap		= "http://phonegap.com/ns/1.0"
		xmlns:android	= "http://schemas.android.com/apk/res/android"
		id				= "com.jcpmcdonald.forsparta"
		version			= "1.0.1">
	<name>For Sparta!</name>
	<description>
		GDSE Spring Game Jam Entry
	</description>
	<author email="jcpmcdonald@gmail.com" href="http://jcpmcdonald.com">
		John McDonald
	</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="Fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" />
	<preference name="Orientation" value="portrait" />
	
	<preference name="permissions" value="none"/>
</widget>



