<widget xmlns			= "http://www.w3.org/ns/widgets"
		xmlns:gap		= "http://phonegap.com/ns/1.0"
		xmlns:android	= "http://schemas.android.com/apk/res/android"
		id				= "com.jcpmcdonald.forsparta"
		version			= "1.1.1>
	<name>For Sparta!</name>
	<description>
		GDSE Spring Game Jam Entry
	</description>
	<author email="jcpmcdonald@gmail.com" href="http://jcpmcdonald.com">
		John McDonald
	</author>
	<icon src="icon.png" />
	<content src="index.html" />
	<access origin="*" />
	<preference name="Fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" />
	<preference name="orientation" value="portrait" />
	
	<gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" />
	
	<supports-screens android:anyDensity="true" android:resizeable="false" 
		android:smallScreens="true" 
		android:normalScreens="true" 
		android:largeScreens="true" 
		android:xlargeScreens="true" />
	
	<preference name="permissions" value="none"/>
</widget>



